<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Hello World!</title>

        <!-- IvanHdzD:css -->
        <link rel="stylesheet" href="../../bower_components/bootstrap/dist/css/bootstrap.css"/>
        <link rel="stylesheet" href="../../bower_components/bootstrap/dist/css/bootstrap-theme.css"/>
        <!-- End IvanHdzD -->

        <!-- bower:css -->
        <!-- endbower -->

        <!-- IvanHdzD:js -->
        <script src="../../src/js/JQuery-3.1.0-noGlobal.js"></script>
        <!-- End IvanHdzD -->

        <!-- bower:js -->
        <script src="../../bower_components/jquery/dist/jquery.js"></script>
        <script src="../../bower_components/bootstrap/dist/js/bootstrap.js"></script>
        <!-- endbower -->
    </head>
    <body>
        <h1>Hello World!</h1>
        <!-- All of the Node.js APIs are available in this renderer process. -->
        We are using node <script>document.write(process.versions.node)</script>,
        Chromium <script>document.write(process.versions.chrome)</script>,
        and Electron <script>document.write(process.versions.electron)</script>.
    </body>
</html>